<div class="container custom-container">
  <div class="col-md-12">
    <div class="title d-flex justify-content-between">
      <h3 class="mb-3 text-center">Editar contacto</h3>
      <div *ngIf="loading" class="spinner-border float-right" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <form [formGroup]="contactDetails">
      <div class="form-group mb-3">
        <input
          type="text"
          formControlName="name"
          class="form-control"
          placeholder="Nombre"
        />
        <div
          *ngIf="(name?.dirty || name?.touched) && name?.errors"
          class="errors"
        >
          <span *ngIf="name?.errors?.required">Nombre es requerido</span>
        </div>
      </div>

      <div class="form-group mb-3">
        <input
          type="text"
          formControlName="last_name"
          class="form-control"
          placeholder="Apellido"
        />
        <div
          *ngIf="(last_name?.dirty || last_name?.touched) && last_name?.errors"
          class="errors"
        >
          <span *ngIf="last_name?.errors?.required">Apellido es requerido</span>
        </div>
      </div>

      <div class="form-group mb-3">
        <input
          type="text"
          formControlName="phone"
          class="form-control"
          placeholder="Telefono"
          (keypress)="numericOnly($event)"
        />
        <div
          *ngIf="(phone?.dirty || phone?.touched) && phone?.errors"
          class="errors"
        >
          <span *ngIf="phone?.errors?.required">Telefono es requerido</span>
        </div>
      </div>

      <div class="form-group mb-3">
        <button
          type="text"
          class="btn btn-secondary btn-lg mx-3"
          routerLink="/contact-list"
        >
          Volver
        </button>
        <button
          class="btn btn-success btn-lg btn-block"
          (click)="updateContact()"
        >
          Editar Contacto
        </button>
      </div>
    </form>
  </div>
</div>
