<div class="container">
  <div class="title d-flex justify-content-center">
    <div *ngIf="loading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <!-- si no hay contactos-->
      <div class="no-data text-center" *ngIf="Contacts.length == 0">
        <p>No hay contactos agregados!</p>

        <button class="btn btn-primary btn-lg" routerLink="/create-contact">
          Agregar contacto
        </button>
      </div>

      <!-- tabla de contactos -->
      <div *ngIf="Contacts.length !== 0">
        <div class="title d-flex justify-content-between">
          <h3 class="mb-3 text-center">Lista de contactos</h3>
          <button class="btn btn-success btn-lg" routerLink="/create-contact">
            Agregar
          </button>
        </div>

        <div class="col-md-12 mt-2">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre y Apellido</th>

                <th scope="col">Telefono</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of Contacts">
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }} {{ contact.last_name }}</td>

                <td>{{ contact.phone }}</td>
                <td>
                  <button
                    class="btn btn-primary"
                    routerLink="/contact-edit/{{ contact.id }}"
                  >
                    <i class="fas fa-user-edit"></i>
                  </button>
                  <button
                    class="btn btn-danger mx-3"
                    (click)="deleteContact(contact.id)"
                  >
                    <i class="fas fa-user-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
